body {
 background-color: #000000;
 display: flex;
 justify-content: center;
 align-items: top;
}

.box {
    width: 500px; /* Set the width as needed */
    height:100px;
    padding: 20px; /* Set the padding inside the box */
    border: 2px solid #333; /* Border style */
    border-radius: 70px; /* Adjust the radius for roundness */
    background: radial-gradient(ellipse, #dee9c5, #7ffb13); /* Radial gradient */
    text-align: center;
    align-self: center;
  
  }


.quote{
    text-align: center;
  }

  
.author{
  text-align: right;
}