body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff8dc; /* Cream */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #6c0345; /* Deep Red */
}

div {
    margin-top: 100px;
    margin-bottom: 10px;
    border: 2px solid #6c0345; /* Deep Red */
    border-radius: 15px;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: larger;
    background-color: #dc6b19; /* Rust */
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-weight: bold;
    color: #f7c566; /* Gold */
}

.value {
    color: #666;
}
